In [ ]:
# tuple
sajib= ()

In [2]:
type(sajib)

tuple

In [17]:
a = 2, 
type(a)

tuple

In [8]:
a

(2, 4)

In [10]:
b = 2,4,8,
type(b)

tuple

In [15]:
tup = (2,1.0,"st", True,1,2,(1,4,8), "virat")

In [16]:
tup

(2, 1.0, 'st', True, 1, 2, (1, 4, 8), 'virat')

In [14]:
he1= 2,1.0,"st",[1,5,"ml"], True,1,2
he1

(2, 1.0, 'st', [1, 5, 'ml'], True, 1, 2)

In [26]:
a = [1,2,5,14,50,58]
bb = tuple(a)
bb

(1, 2, 5, 14, 50, 58)

In [27]:
bb[-1]

58

In [24]:
for index, value in enumerate(bb):
    print("the index number is ---",index)
    print("the value number is ---",value)

the index number is --- 0
the value number is --- 1
the index number is --- 1
the value number is --- 2
the index number is --- 2
the value number is --- 5

In [28]:
bb[2: 4]

(5, 14)

In [31]:
bb[-2: -6: -2]

(50, 5)

In [32]:
#mem
8 in bb

False

In [35]:
a , b, c = 1,2,3,
type(a)

int

In [41]:
a = (1,2,3)
print(type(a))
v1, v2,v3 = a

<class 'tuple'>

In [42]:
v1+ v2 +v3

6

In [43]:
a = (1,2,3)
a.add(2)

AttributeError: 'tuple' object has no attribute 'add'

In [44]:
a = (1,2,3)
a.extend(2)

AttributeError: 'tuple' object has no attribute 'extend'

In [45]:
a = (1,2,3)
a.insert(2)

AttributeError: 'tuple' object has no attribute 'insert'

In [46]:
a = (1,2,3)
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
a = (1,2,3)
a = a + (2,)
a

(1, 2, 3, 2)

In [58]:
a = a[: 2] + a[3 :]
type(a)
a

(1, 2, 2)

In [69]:
a = (1,2,[],3,1)
a[2].append(1)

In [70]:
a[2].append("sajib")

In [71]:
a

(1, 2, [1, 'sajib'], 3, 1)

In [72]:
a.index(1)

0

In [77]:
a = (((1,5,8)),((9,7)))
for i in a:
    #print(i)
    for j in i:
        print(j, end=" ")

1 5 8 9 7